
/*
los comentarios tienen 13 tabulados.
una linea entre objetos del mismo grupo, si es entre agrupaciones
como pueden ser los articulos son tabulados
entre secciones como header nav y contenido son 3
entre el head y body 4
entre el contenedor y su contenido 1
*/


#specialBody{
  overflow: hidden;
}


body {
  overflow-x: hidden;
width: 100%;
height: 100%;
display:flex;
flex-direction: column;
align-items: center;
font-family: 'Lobster', cursive;
animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 60s; /* Chrome and Safari */
      animation-iteration-count: infinite;
    }

    @keyframes colorchange
    {
      0%   {background: rgb(11, 35, 121);}
      30%  {background: rgb(46, 4, 88);}
      50%  {background: rgb(0, 13, 60);}
      70%  {background: rgb(46, 4, 88);}
      100%   {background: rgb(11, 35, 121);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}

}


header{
border-radius: 50px 50px 0px 0px;
display: flex;
background-color:#108006;
width: 85%;
justify-content: center;
align-items: center;

}

nav{

  border-radius: 50px 50px 0px 0px;
background-color: #108006;
display: flex;
width: 85%;
margin: 1%;

}

article{
  border-radius: 50px 50px 50px 50px;
    background-color: #717171;
    width: 30%;
    height: 25%;
  margin: 20px;

}

article.hoverable:hover{
  border-radius: 50px 50px 50px 50px;
    background-color: #3b3b3b;
    width: 30%;
    height: 25%;
  margin: 20px;
-webkit-transition: all 1s;
}

article.trabajo{
  border-radius: 0px 0px 0px 0px;
    background-color: rgba(113,113,113,0);
    width: 1920px;
    height: 1080px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
section{

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}


                          /*
                            CLASES
                          */


.navigator{
  border-radius: 50px 50px 0px 0px;
background-color: #a8a8a8;
margin: 20px;
font-size: 15px;
width: 25%;
display: flex;
justify-content: center;

}


.titulopost{

font-size: 32px;
}
.tituloprincipal{

font-size: 45px;
}

.foto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;

  display: flex;
margin-bottom: 50px;


}


.fotoperfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;

  display: flex;
margin-bottom: 20px;


}

.parrafotrabajo{
  width: 80%;
  font-size: 24px;

}

                          /*
                          IDs del navegador
                          */

#inicio{
  background-color: #8fb935;
}

#inicio:hover{
background-color: #ff0032;
transform: translateY(-20px);
padding-bottom: 20px;
margin-bottom: 0px;
-webkit-transition: all 0.2s;
}
#modelado{
  background-color: #8fb935;
}
#modelado:hover{
background-color: #ff7900;

transform: translateY(-20px);
padding-bottom: 20px;
margin-bottom: 0px;
-webkit-transition: all 0.2s;
}
#rigging{
background-color: #8fb935;
}
#rigging:hover{
background-color: #fefb0d;

transform: translateY(-20px);
padding-bottom: 20px;
margin-bottom: 0px;
-webkit-transition: all 0.2s;
}
#miscelaneo{
  background-color: #8fb935;
}
#miscelaneo:hover{
background-color: #ff7900;

transform: translateY(-20px);
padding-bottom: 20px;
margin-bottom: 0px;
-webkit-transition: all 0.2s;
}
#demoreel{
  background-color: #8fb935;
}
#demoreel:hover{
background-color: #ff0032;

transform: translateY(-20px);
padding-bottom: 20px;
margin-bottom: 0px;
-webkit-transition: all 0.2s;
}

#contentnav{
  position: fixed;
}
                            /*
                            IDs de los post
                            */

#posts{
  width: 88%;
  display: flex;
flex-wrap: wrap;
justify-content:space-around;

}

#poststrabajos{
  width: 100%;
  display: flex;
flex-direction: column;

}


#demoreelarticle{
width:1280px;
height: 720px;

}


#demoreelsection{
width: 100%;
height: 100%;
}

#principal{
width: 85%;

}


                            /*
                            Trabajos
                            */

.trabajo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.imgtrabajo{
  width: 55%;
  display: flex;



}
